## This file is managed by Salt. Only make changes on the Salt master.
{% set hostname=grains['id'] %}
master: {{ minion.hostname }}

grains:
  roles:{% for role in pillar['minion'][hostname]['roles'] %}
    - {{ role }}{% endfor %}
